/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */

/* Colors (gruvbox) */
/*@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;*/

/* Colors (Catpuccin - Mocha - Experiment) */
/*
@define-color black	#11111b;
@define-color red	#f38ba8;
@define-color green	#a6e3a1;
@define-color yellow	#f9e2af;
@define-color blue #89b4fa;
@define-color purple	#cba6f7;
@define-color aqua	#94e2d5;
@define-color gray #a6adc8;
@define-color brgray #7f849c;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;*/

@define-color black    #1e1e2e;
@define-color red      #f38ba8;
@define-color green    #a6e3a1;
@define-color yellow   #f9e2af;
@define-color blue     #89b4fa;
@define-color purple   #cba6f7;
@define-color aqua     #94e2d5;
@define-color gray     #6c7086;
@define-color brgray   #cdd6f4;
@define-color brred    #f38ba8;
@define-color brgreen  #a6e3a1;
@define-color bryellow #f9e2af;
@define-color brblue   #89b4fa;
@define-color brpurple #b4befe;
@define-color braqua   #94e2d5;
@define-color white    #d9e0ee;
@define-color bg2      #302d41;

@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@bg2; 
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color idle      @aqua;
@define-color notification @brblue;
@define-color sound	@brgreen;
@define-color network	@brgray;
@define-color memory	@aqua;
@define-color cpu	@brpurple;
@define-color temp	@blue;
@define-color layout	@bryellow;
@define-color battery	@green;
@define-color date	@brred;
@define-color time	@black;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: /*@red;*/ rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
	color: @white;
	font-family: JetbrainsMono Nerd Font; /*Siji*/
	font-size: 10pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-notification,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected {
	color: @black;
}
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @black;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @red;
	color: @black;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#idle_inhibitor {
  background: @idle;
  color: @black;
}

#pulseaudio {
	background: @sound;
	color: @black;
}

#network {
	background: @network;
	color: @black;
}

#custom-notification {
	background: @notification;
	color: @black
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @black;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @black;
}

#clock.time {
	background: @time;
	color: @white;
}

#custom-arrow1 {
	font-size: 16pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 16pt;
	color: @date;
	background: @notification;
}

#custom-arrow3 {
	font-size: 16pt;
	color: @notification;
	background: @layout;
}

#custom-arrow4 {
	font-size: 16pt;
	color: @layout;
	background: @battery;
}

#custom-arrow5 {
	font-size: 16pt;
	color: @battery;
	background: @temp;
}

#custom-arrow6 {
	font-size: 16pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow7 {
	font-size: 16pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow8 {
	font-size: 16pt;
	color: @memory;
	background: @network;
}

#custom-arrow9 {
	font-size: 16pt;
	color: @network;
	background: @sound;
}

#custom-arrow10 {
	font-size: 16pt;
	color: @sound;
	background: @idle;
}

#custom-arrow11 {
	font-size: 16pt;
	color: @idle;
	background: transparent;
}

#custom-arrow12 {
  font-size: 16pt;
  color: @unfocused;
  background: transparent;
}
